<!DOCTYPE html>
<html>
<head>
	
	<title>Whereabouts - Nubelibre</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!--Load Leaflet stuff-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

</head>
<body>

<!--Use all available space in the browser-->
<div id="mapid" style="width: 99%; height: 98%; position: absolute;"></div>

<!--Manage the map-->
<script>
	var wa_base_url = 'http://crane:8787/records/c-phone-a/'

	var ot_icon = L.icon({
		iconUrl: 'https://static.dev.dben.to/whereabouts/img/owntracks.png',
		shadowUrl: 'https://static.dev.dben.to/whereabouts/img/marker-shadow.png',

		iconSize:     [19, 24], // size of the icon
		shadowSize:   [45, 45], // size of the shadow
		iconAnchor:   [9, 24], // point of the icon which will correspond to marker's location
		shadowAnchor: [12, 45],  // the same for the shadow
		popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
	});

	var ha_icon = L.icon({
		iconUrl: 'https://static.dev.dben.to/whereabouts/img/marker1.png',
		shadowUrl: 'https://static.dev.dben.to/whereabouts/img/marker-shadow.png',

		iconSize:     [17, 24], // size of the icon
		shadowSize:   [45, 45], // size of the shadow
		iconAnchor:   [8, 24], // point of the icon which will correspond to marker's location
		shadowAnchor: [12, 45],  // the same for the shadow
		popupAnchor:  [0, -29] // point from which the popup should open relative to the iconAnchor
	});

	var bunq_icon = L.icon({
		iconUrl: 'https://static.dev.dben.to/whereabouts/img/dollar_marker.png',
		shadowUrl: 'https://static.dev.dben.to/whereabouts/img/marker-shadow.png',

		iconSize:     [24, 24], // size of the icon
		shadowSize:   [45, 45], // size of the shadow
		iconAnchor:   [12, 24], // point of the icon which will correspond to marker's location
		shadowAnchor: [12, 45],  // the same for the shadow
		popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
	});

	var apps = [
		{
			'name': 'own-tracks/',
			'icon': ot_icon,
			'color': '#00CC9D'
		},
		{
			'name': 'home-assist/',
			'icon': ha_icon,
			'color': null
			//'color': '#FFD454'
		},
		{
			'name': 'bunq/',
			'icon': bunq_icon,
			'color': null
			//'color': '#FF3368'
		}
	];

	//L.Icon.Default.prototype.options.iconUrl = 'https://static.dev.dben.to/whereabouts/img/owntracks.png';
    //Initialize map
	var mymap = L.map('mapid').setView([10, 40], 3);

	function show_gps_records(wa_url, app, icon, color){
		var path = [];
		fetch(wa_url.concat(app))
		.then(res => res.json())
		.then(json => json.forEach(function(record) {
		//Display Marker
		L.marker([record.latitude,record.longitude], {icon: icon}).addTo(mymap)
			.bindPopup("<b>"+record.device+" - "+record.datetime+"</b>");    
		path.push([record.latitude,record.longitude]);
		}))
		.then(function(){
			if (color){
				var polyline = L.polyline(path, {color: color}).addTo(mymap);
				mymap.fitBounds(polyline.getBounds());
			}
		});
	}

    //Use mapbox map tiles
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2FzdGVsIiwiYSI6ImNqcHpxcW5scDBkbzczd3Bsa2MwY3V4eHEifQ.-ZMEmuybMfcsdkVbWah0dw', {
		maxZoom: 18,
		attribution: 'Whereabouts - Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/dark-v10',
	}).addTo(mymap);

	for (let i = 0; i < apps.length; i++) {
    	show_gps_records(
			wa_base_url,apps[i]['name'],
			apps[i]['icon'],
			apps[i]['color']
		)
	}

</script>
</body>
</html>
